* {
    box-sizing: border-box;
}
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.jumbotron {
    background-color:#1ED760 !important;
    min-height: 580px;
    margin-bottom: -32px; 
}

h1, p{
    color: #ffffff;
}